In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('VideoSegment.csv')  
df[df.]

,Id,PatientTaskHandMappingId,SegmentId,Start,End,CreatedAt,UpdatedAt
0,1,1,1,75,111,2022-11-29 06:34:16.3254527,2023-02-01 01:49:10.8866201
1,2,1,2,92,111,2022-11-29 06:34:16.3921381,2023-02-01 01:49:10.9053986
2,3,1,3,111,139,2022-11-29 06:34:16.4006869,2023-02-01 01:49:10.9148124
3,4,1,4,138,169,2022-11-29 06:34:16.4087134,2023-02-01 01:49:10.9243799
4,5,9,1,65,112,2022-11-29 07:34:04.4657556,2022-12-01 00:26:01.8391062
...,...,...,...,...,...,...,...
417,418,219,6,81,175,2023-01-13 18:26:33.2859201,2023-01-13 18:26:33.2859201
418,419,239,1,1,1,2023-02-01 01:02:33.5451544,2023-02-01 01:02:33.5451544
419,420,239,2,1,1,2023-02-01 01:02:33.5643317,2023-02-01 01:02:33.5643318
420,421,239,3,1,1,2023-02-01 01:02:33.5726315,2023-02-01 01:02:33.5726316
421,422,239,4,1,1,2023-02-01 01:02:33.5807422,2023-02-01 01:02:33.5807422